{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <title>cooldeal - 게시판</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" type="text/css" href="{% static "css/nav.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/common.css"%}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet"/>
  </head>
  <body>
    {% include "nav.html" %}
    <section
      style="padding-bottom: 3rem !important; min-height: calc(100vh - 15.5rem);">
      <div class="container px-4 px-lg-5 mt-5">
        <div style="border: 1px solid #000; padding: 20px; margin: 20px 0; border-radius: 17px;" >
          <fieldset>
            <table>
              <tbody>
                {% for cmt in comment %}
                  <tr>
                    <td>
                      <div class="{% if cmt.author == request.user %}float-right {% endif %}comments">
                        <div class="content" id="ctt">{{ cmt.content|safe }}</div>
                        <div class="{% if cmt.author == request.user %}float-right {% endif %}dsc">{{ cmt.author }} / {{ cmt.created_at|date:"Y-m-d H:i" }}</div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            <div class="container px-4 px-lg-5 mt-5">
                <form method="POST">
                  <div class="row" style="display: grid; gap: 10px">
                    <div class="form-group col-md-9" style="width: 100%;">
                      <label for="comment_content"></label>
                      <textarea type="text"class="form-control"id="comment_content"name="content"placeholder="200글자 이내만 작성 가능합니다."oninput="updateCounter()"rows="3"style="width: -webkit-fill-available;"/ ></textarea>
                    <div id="counter" style="padding-left: 20px;"></div>
                    <div class="col-md-3 d-flex align-items-end" style="width: auto; justify-content: end;">
                      <button type="submit" class="btn btn-primary" id="smt-bnt" style="background:#afc3e0; border:#afc3e0; color: #000;">
                        댓글 작성
                      </button>
                    </div>
                  </div>
                </form>
            </div>
          </fieldset>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <footer class="py-o bg-dark">
      <div class="container1">
        <p class="m-0 text-center text-white">Copyright © cooldeal 2023</p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    {% comment %}
    <script src="js/scripts.js"></script>
    {% endcomment %}
    <script>
      function updateCounter() {
        var textbox = document.getElementById("comment_content");
        var counter = document.getElementById("counter");
        var length = textbox.value.length;
        var remaining = 200 - length;
        counter.textContent = length + " / 200";
        if (length > 200) {
          counter.style.color = "red";
        }
        else {
          counter.style.color = "black";
        }
      }
      updateCounter()


      var textbox = document.getElementById("comment_content");
      var submitButton = document.getElementById("smt-bnt");

      submitButton.addEventListener("click", function(event) {
        var length = textbox.value.length;
        if (length > 200) {
          event.preventDefault();
          alert("글을 200자 이상 작성할 수 없습니다.");
        } else if (length === 0) {
          event.preventDefault();
          alert("제목과 내용을 입력해주세요.");
        }
      });

      textbox.addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
          event.preventDefault();
          textbox.value += "\n";
        }
      });
    
      submitButton.addEventListener("click", function(event) {
        // 제출 동작 처리
      });

      {% comment %} function convertLinks() {
        var text = document.getElementById("ctt").innerHTML;
        var convertedText = text.replace(/(https?:\/\/\S+)/g, '<a href="$1">$1</a>');
        document.getElementById("text").innerHTML = convertedText;
      }
      
      // 함수 호출 예시
      convertLinks(); {% endcomment %}
    </script>
    
  </body>
</html>
