{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="{% static "images/favicon.ico" %}"
    type="image/x-icon">
    <title>글 목록</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" type="text/css" href="{% static "css/nav.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/common.css"
    %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <style>
      /* 추가한 CSS 스타일 */
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th,
      td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
    </style>
  </head>
  <body>
    {% include "nav.html" %}

    <h1>글 목록</h1>
    <table>
      <thead>
        <tr>
          <th>댓글</th>
          <th>작성자</th>
          <th>작성일</th>
        </tr>
      </thead>
      <tbody>
        {% comment %} {% for post in posts %} {% endcomment %}
        <tr>
            <td>{{ post.content }}</td>
            <td>{{ post.author }}</td>
            <td>{{ post.created_at }}</td>
        </tr>
        {% for comment in post.comments.all %}
            <tr>
                <td>{{ comment.content }}</td>
                <td>{{ comment.author }}</td>
                <td>{{ comment.created_at|date:"Y-m-d H:i:s" }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3">
                <h2>댓글 작성</h2>
                <form method="post">
                    {% csrf_token %} {{ form.as_p }}
                    <input type="hidden" name="post_id" value="{{ post.id }}" />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </td>
        </tr>
    {% comment %} {% endfor %} {% endcomment %}
    <!-- Footer-->
    <footer class="py-o bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright © cooldeal 2023</p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    {% comment %}
    <script src="js/scripts.js"></script>
    {% endcomment %}
  </body>
</html>
