{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>아이템 목록</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static "css/index.css" %}" rel="stylesheet">
    <link href="{% static "css/nav.css" %}" rel="stylesheet"> 
</head>
<body>
    {% include "nav.html" %}
    <div class="container">
        <h1>아이템 목록</h1>
        <h2>카테고리 목록</h2>
        <ul class="category-list">
            <li><a href="{% url 'main' %}">전체</a></li>
            {% for category in categories %}
                <li><a href="{% url 'item_list_by_category' category.id %}">{{ category.name }}</a></li>
            {% empty %}
                <li>No categories available.</li>
            {% endfor %}
        </ul>
        <div class="search-container">
            <form method="get" action="{% url 'search' %}">
                <input type="text" name="search" placeholder="검색어를 입력하세요">
                <button type="submit">검색</button>
            </form>
        </div>
        <h2>아이템 목록</h2>
        <table class="table table-bordered">
            <thead></thead>
                <tr>
                    <th>이름</th>
                    <th>end_URL</th>
                    <th>board_URL</th>
                    <th>가격</th>
                    <th>설명</th>
                    <th>카테고리</th>
                    <th>업데이트 시간</th>
                    <th>발견 시간</th>
                    <th>첫 가격</th>
                    <th>배송비</th>
                    <th>종료 여부</th>
                </tr>
            </thead>
            <tbody style="line-break: anywhere">
                {% for item in items %}
                    <tr>
                        <td>{{ item.item_name }}</td>
                        <td>{{ item.end_url }}</td>
                        <td>{{ item.board_url }}</td>
                        <td>{{ item.board_price }}</td>
                        <td>{{ item.board_description }}</td>
                        <td>{{ item.category.name }}</td> 
                        <td>{{ item.clr_update_time }}</td>
                        <td>{{ item.find_item_time }}</td>
                        <td>{{ item.first_price }}</td>
                        <td>{{ item.delivery_price }}</td>
                        <td>{% if item.is_end_deal %}종료{% else %}진행중{% endif %}</td>
                        <!-- 삭제 버튼과 form 태그 추가 -->
                        <td>
                            <form method="post" action="{% url 'delete_item' item.id %}">
                                {% csrf_token %}
                                <button type="submit">삭제</button>
                            </form>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="10">No items available.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static "js/nav.js" %}"></script>
</html>
