<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">


    <title>candidate list with skills rating and location - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 40px;
            background: #E6E6FA
        }

        .card {
            box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
        }

        .avatar-md {
            height: 5rem;
            width: 5rem;
        }

        .fs-19 {
            font-size: 19px;
        }

        .primary-link {
            color: #314047;
            -webkit-transition: all .5s ease;
            transition: all .5s ease;
        }

        a {
            color: #02af74;
            text-decoration: none;
        }

        .bookmark-post .favorite-icon a,
        .job-box.bookmark-post .favorite-icon a {
            background-color: #da3746;
            color: #fff;
            border-color: danger;
        }

        .favorite-icon a {
            display: inline-block;
            width: 30px;
            height: 30px;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            border: 1px solid #eff0f2;
            border-radius: 6px;
            color: rgba(173, 181, 189, .55);
            -webkit-transition: all .5s ease;
            transition: all .5s ease;
        }


        .candidate-list-box .favorite-icon {
            position: absolute;
            right: 22px;
            top: 22px;
        }

        .fs-14 {
            font-size: 14px;
        }

        .bg-soft-secondary {
            background-color: rgba(116, 120, 141, .15) !important;
            color: #74788d !important;
        }

        .mt-1 {
            margin-top: 0.25rem !important;
        }
    </style>
</head>

<body>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
        integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
    <section class="section">
        <div class="container">
            <div class="justify-content-center row">
                <div class="col-lg-12">
                    <div class="candidate-list-widgets mb-4">
                        <form action="#" class>
                            <div class="g-2 row">
                                <div class="col-lg-3">
                                    <div class="filler-job-form">
                                        <i class="uil uil-briefcase-alt"></i><input id="exampleFormControlInput1"
                                            placeholder="Job, Company name... " type="search"
                                            class="form-control filler-job-input-box form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="filler-job-form">
                                        <i class="uil uil-location-point"></i>
                                        <select class="form-select selectForm__inner" data-trigger="true"
                                            name="choices-single-location" id="choices-single-location"
                                            aria-label="Default select example">
                                            <option value="AF">Afghanistan</option>
                                            <option value="AX">Åland Islands</option>
                                            <option value="AL">Albania</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="filler-job-form">
                                        <i class="uil uil-clipboard-notes"></i>
                                        <select class="form-select selectForm__inner" data-trigger="true"
                                            name="choices-single-categories" id="choices-single-categories"
                                            aria-label="Default select example">
                                            <option value="4">Accounting</option>
                                            <option value="1">IT &amp; Software</option>
                                            <option value="3">Marketing</option>
                                            <option value="5">Banking</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div>
                                        <a class="btn btn-primary" href="#"><i class="uil uil-filter"></i> Filter</a><a
                                            class="btn btn-success ms-2" href="#"><i class="uil uil-cog"></i>
                                            Advance</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="align-items-center row">
                        <div class="col-lg-8">
                            <div class="mb-3 mb-lg-0">
                                <h6 class="fs-16 mb-0">Showing 1 – 8 of 11 results</h6>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="candidate-list-widgets">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="selection-widget">
                                            <select class="form-select" data-trigger="true"
                                                name="choices-single-filter-orderby" id="choices-single-filter-orderby"
                                                aria-label="Default select example">
                                                <option value="df">Default</option>
                                                <option value="ne">Newest</option>
                                                <option value="od">Oldest</option>
                                                <option value="rd">Random</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="selection-widget mt-2 mt-lg-0">
                                            <select class="form-select" data-trigger="true"
                                                name="choices-candidate-page" id="choices-candidate-page"
                                                aria-label="Default select example">
                                                <option value="df">All</option>
                                                <option value="ne">8 per Page</option>
                                                <option value="ne">12 per Page</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="candidate-list">
                        <div class="candidate-list-box card mt-4">
                            <div class="p-4 card-body">
                                <div class="align-items-center row">
                                    <div class="col-auto">
                                        <div class="candidate-list-images">
                                            <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                                    alt class="avatar-md img-thumbnail rounded-circle" /></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="candidate-list-content mt-3 mt-lg-0">
                                            <h5 class="fs-19 mb-0">
                                                <a class="primary-link" href="#">노브랜드 버거 4종류 20% 할인</a><span
                                                    class="badge bg-success ms-1"><i
                                                        class="mdi mdi-star align-middle"></i>4.8</span>
                                            </h5>
                                            <p class="text-muted mb-2">당근피클오이</p>
                                            <ul class="list-inline mb-0 text-muted">
                                                <li class="list-inline-item"><i class="mdi mdi-wallet"></i>가격
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1">
                                            <span class="badge bg-soft-secondary fs-14 mt-1">G마켓</span><span
                                                class="badge bg-soft-secondary fs-14 mt-1">뽐뿌</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="favorite-icon">
                                    <a href="#"><i class="mdi mdi-heart fs-18"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="candidate-list-box bookmark-post card mt-4">
                            <div class="p-4 card-body">
                                <div class="align-items-center row">
                                    <div class="col-auto">
                                        <div class="candidate-list-images">
                                            <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                                    alt class="avatar-md img-thumbnail rounded-circle" /></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="candidate-list-content mt-3 mt-lg-0">
                                            <h5 class="fs-19 mb-0">
                                                <a class="primary-link" href="#">오케이몰 Y3 히코 화이트 재입고</a><span
                                                    class="badge bg-warning ms-1"><i
                                                        class="mdi mdi-star align-middle"></i>3.4</span>
                                            </h5>
                                            <p class="text-muted mb-2">마마마맘</p>
                                            <ul class="list-inline mb-0 text-muted">
                                                <li class="list-inline-item"><i class="mdi mdi-wallet"></i>가격
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1"><span
                                                class="badge bg-soft-secondary fs-14 mt-1">어미새</span></div>
                                    </div>
                                </div>
                                <div class="favorite-icon">
                                    <a href="#"><i class="mdi mdi-heart fs-18"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="candidate-list-box card mt-4">
                            <div class="p-4 card-body">
                                <div class="align-items-center row">
                                    <div class="col-auto">
                                        <div class="candidate-list-images">
                                            <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                                    alt class="avatar-md img-thumbnail rounded-circle" /></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="candidate-list-content mt-3 mt-lg-0">
                                            <h5 class="fs-19 mb-0">
                                                <a class="primary-link" href="#">고메 소바바치 소이허니 순살 3개</a><span
                                                    class="badge bg-success ms-1"><i
                                                        class="mdi mdi-star align-middle"></i>4.3</span>
                                            </h5>
                                            <p class="text-muted mb-2">사용자</p>
                                            <ul class="list-inline mb-0 text-muted">
                                                <li class="list-inline-item"><i class="mdi mdi-wallet"></i>가격
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1"><span
                                                class="badge bg-soft-secondary fs-14 mt-1">어미새</span></div>
                                    </div>
                                </div>
                                <div class="favorite-icon">
                                    <a href="#"><i class="mdi mdi-heart fs-18"></i></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mt-4 pt-2 col-lg-12">
                    <nav aria-label="Page navigation example">
                        <div class="pagination job-pagination mb-0 justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1" href="#"><i
                                        class="mdi mdi-chevron-double-left fs-15"></i></a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="mdi mdi-chevron-double-right fs-15"></i></a>
                            </li>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

    </script>
</body>

</html>