{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
        <title>cooldeal - 랭킹</title>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{% static "css/nav.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/common.css" %}"/>
    </head>
    <body>

        <!-- Header-->
        {% include "nav.html" %}
        
        <br>
        <br>
    
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-1 row-cols-xl-1 justify-content-center">
                    {% comment %} <div class="row gx-4 gx-lg-5 justify-content-center"> {% endcomment %}
                    {% for item in items %}
                        <div class="col mb-5">
                            <div class="card h-100" style="flex-direction: row;">
                                <!-- Product image-->
                                <div class="img-container" style="position: relative;">
                                    <img src="{% static "images/rank1.png" %}"  alt="" style="position: absolute; top: 0; left: 0; z-index: 1;" />
                                    <a href="{% url 'detail' item.id %}" style="position: relative;">
                                        <img class="card-img-top" src="{{ item.image_url }}" width="300" height="300" alt="{{ item.item_name }}" style="position: relative; z-index: 0;" 
                                             onerror="this.src='{% static "images/no_image.png" %}';"/>
                                    </a>
                                </div>
                                
                                <!-- Product details-->
                                <div class="card-body p-4" style="flex-direction: column;">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <p>순위: {{ item.rank }}</p>
                                        <h5 class="fw-bolder">{{ item.item_name }}</h5>
                                        <!-- Product price-->
                                        <h5 class="fw-bolder price">{{item.board_price}}</h5>
                                        <!-- Replace this comment with the price from your model -->
                                    </div>
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent b-5">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'detail' item.id %}">자세히 보기</a></div>
                                    </div>
                                </div>
                                <!-- Product actions-->
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <div class="loader" style=" position: fixed; top: 95%; left: 50%; transform: translate(-50%, -50%);">
            <img src="{% static 'images/loading.gif' %}" alt="Loading..." />
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright © cooldeal 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        {% comment %} <script src="js/scripts.js"></script> {% endcomment %}
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var isLoading = false;
            loading_img(isLoading)
            var page = 2;  // 시작 페이지 번호
            var maxPages = {{ max_pages }};  // 전체 페이지 수, Django에서 전달받아야 함
            var loadingImage = "{% static 'images/loading.gif' %}";  // 로딩 이미지 경로를 수정하세요
            function loadMoreItems() {
                if (page <= maxPages && !isLoading) {

                    isLoading = true;
                    loading_img(isLoading)
                    // 로딩 이미지를 보여줄 수 있음
                    var url;
                    var data = { page: page };

                    url = "{% url 'rank_load_more_items' %}";
                    {% if category_id %}
                        // 카테고리 페이지인 경우 category_id를 전달
                        data.category_id = {{ category_id }};
                    {% elif  query %}
                        data.query = "{{query}}";
                    {% endif %}
                    $.get(url, data, function(data) {
                        isLoading = false;
                        loading_img(isLoading)
                        // 로딩 이미지를 숨깁니다.
                        if (data.items) {
                            data.items.forEach(function(item) {
                                var id = `${item.id}`;

                                var itemHtml = `
                                    <div class="col mb-5">
                                        <div class="card h-100" style="flex-direction: row;">
                                            <div class="img-container">
                                                <div style="position: relative;">
                                                    <img src="{% static "images/rank1.png" %}" alt="" style="position: absolute; top: 0; left: 0; z-index: 1;" />
                                                    <a href="/detail/${item.id}/">
                                                        <img class="card-img-top1" src="${item.image_url}" alt="${item.item_name}" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="card-body p-4" style="flex-direction: column;">
                                                <div class="text-center">
                                                    <p>순위: ${item.rank}</p>
                                                    <h5 class="fw-bolder">${item.item_name}</h5>
                                                    <h5 class="fw-bolder price">${item.board_price}</h5>
                                                </div>
                                            
                                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent b-5">
                                                    <div class="text-center">
                                                        <a class="btn btn-outline-dark mt-auto b-5" href="/detail/${item.id}/">자세히 보기</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>`;
                            const parentDiv = document.querySelector(".row");
                            const lastChild = parentDiv.lastElementChild;
                            lastChild.insertAdjacentHTML('afterend', itemHtml);
                            
                            });
                            page += 1;


                        } else {
                            // 더 이상 로드할 항목이 없음을 처리
                        }
                    });
                }
            }
        
            $(window).scroll(function() {
                if ($(window).scrollTop() + $(window).height() >= $(document).height() - 300) {
                    loadMoreItems();
                    
                }
            });
            
            
        });
        function loading_img(isLoading) {
            if (isLoading){
                $('.loader').show();
            }else{
                $('.loader').hide();
            }
        }
        
        function checkImageHeight1() {
            const imgs = document.querySelectorAll('.img-container .card-img-top');
            const containers = document.querySelectorAll('.img-container');
            imgs.forEach((img, index) => {
              const container = containers[index];
              img.classList.add('larger-image');
                if (img.clientHeight <= container.clientHeight) {                   
                    img.classList.remove('larger-image'); // 이전에 추가된 'larger-image' 클래스를 제거합니다.
                }
              });
          }
        
        function checkImageHeight() {
            const imgs = document.querySelectorAll('.img-container .card-img-top1');
            const containers = document.querySelectorAll('.img-container');
            imgs.forEach((img, index) => {
              const container = containers[index];
              if(img.clientHeight > container.clientHeight){
                    img.classList.remove('card-img-top1');
                    img.classList.add('card-img-top');
                if (img.clientHeight < container.clientHeight) {
                    img.classList.add('larger-image');
                  }
                  else{
                    
                    img.classList.remove('larger-image'); // 이전에 추가된 'larger-image' 클래스를 제거합니다.
                  }
              }
 
            });
            
        }
        function adjustImageSizes() {
            const imgContainers = document.querySelectorAll('.img-container:not(.rank-container) .card-img-top');
            imgContainers.forEach(container => {
                const img = container.querySelector('img');
                if (img.clientHeight < container.clientHeight) {
                    img.classList.add('larger-image');
                } else {
                    img.classList.remove('larger-image');
                }
            });
        }
        
        adjustImageSizes();
        setInterval(adjustImageSizes, 300);
        
        
        
            

    </script>
</html>