.signup-container{
    width: 440px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.signup-input{
    width: -webkit-fill-available;
    background-color: #fff;
    border: 1px solid #495057;
    border-radius: 100px;
    padding: 13px;
}

.signup-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.signup-form label{
    display: block;
    margin-bottom:12px;
}

.signup-button{
    width: 100%;
    background-color: #212529;
    border-radius: 100px;
    padding: 13px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor:pointer;
}

.signup-button:hover{
    background-color: #495057;
    transition: background-color 0.3s;
}

.register-reco{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
}

.register-reco a{
    text-decoration: none;
    color: #6c757d;
    cursor: pointer;
}

img{
  height: 30px;
  width: auto;
}

.social_signup-button {
  cursor: pointer;
  display: flex;
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: #222;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.signup-button:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
